* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.index{
  font-family: "Goldman", cursive;
  background-image: url(img/Background2.png);
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

h1{
  color: white;
}

.title{
  font-size: 47px;
}

.HTMLCSS{
 background-color: white;
 font-family: "Goldman", cursive;
}

.title{
  color: black;
}

.title1{
  color: white;
}

.pica{
  height: 400px;
  width: 500px;
}

.javascript{
  background-color: black;
}

.textj{
  color: white;
}

.javsc{
  float: right;
  height: 313px;
  width: 303px;
}

.javie{
  color: white;
}

.groot{
  width: 300px;
  height: 200px;
}
.name{
   width: 300px;
}
.email{
   width: 300px;
}


